<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="" method=post>
        <input type="text" name="username" value="{{request.form.username}}"></input>
        <br>
        <input type="text" name="password" value="{{request.form.password}}"></input>
        <input type="submit" value="do_the_login">
        <br>
        {% if error %}
        <p class="error"><strong>Error:</strong>{{error}}</p>
        {% endif %}
    </form>
</body>
</html>